<h2>Register</h2>

<div class="row">
  <div class="col-lg-6">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  
    <form class="form-horizontal" novalidate name="RegisterForm" method="post" action="">
      <fieldset>        
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input type="text" ng-model="user.username" required class="form-control" id="inputUsername">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Confirm password</label>
          <div class="col-lg-10">
            <input type="password" ng-model="user.confirmPassword" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4 col-lg-offset-2">
            <button class="btn btn-primary" ng-disabled="RegisterForm.$invalid" ng-click="register(user);">Register</button>
          </div>
          <div align="right" class="link-text">Already registered? <a href="#/login">Login here</a>.</div>
        </div>
      </fieldset>
    </form>
  </div>
</div>