<h2>{{ headerTitle }}</h2>

<div class="row">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="col-lg-6">
    <form class="form-horizontal" novalidate name="Form" method="post" action="">
      <fieldset>
        <div class="form-group">
          <label for="inputMake" class="col-lg-2 control-label">Make</label>
          <div class="col-lg-10">
           <input class="form-control" id="Make" ng-model="car.make" required="required"> 
          </div>
        </div>
        <div class="form-group">
          <label for="inputModel" class="col-lg-2 control-label">Model</label>
          <div class="col-lg-10">
     		   <input class="form-control" id="Model" ng-model="car.model" required="required"> 
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumberPlate" class="col-lg-2 control-label">Numberplate</label>
          <div class="col-lg-10">
          		<input class="form-control" id="NumberPlate" ng-model="car.numberPlate" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid" ng-click="saveCar(car);">Submit</button>
            <button class="btn btn-default" ng-click="cancel();">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>